body {
  font-size: :14px;
  line-height: :1.618rem;
  color: #535454;
}

/* sets the text color and base height and size*/
p {
  color: #535454;
}

.white-text{
  color: #ffffff;
}

h2, h3, h4, h5, h6 {
  margin: 10.5px 0;
  color: #002a5b;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 500;
}

/*anything under the p tag colr*/
li {
  float: left;
  color: #535454;
  display: inline-block;
}

a {
  color: #dd1e25;
  text-decoration: none;
}

a:link {
  color: #dd1e25;
  border-bottom: 1px dashed #888c8f;
}

a:visited {
  color: #dd1e25;
  border-bottom: 1px dashed #b5b6b9;
}

a:hover {
  color: #fa010a;
  border-bottom: 1px dashed #fa010a;
  text-decoration: none;
}

.no-underline a{
  border-bottom: none;
}

.no-underline a:hover{
  border-bottom: none;
}

a.no-dash{
  border-bottom: none;
}

a.no-dash:hover{
  border-bottom: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/*base padding for container fluid calss*/
.row {
  margin: 0 auto;
}

.fullscreen {
  padding: 0 !important;
  margin: 0 !important;
}

.nav li a {
  display: block;
  color: #535454;
  padding: 0.95em 1.1em;
  text-decoration: none;
}

.nav li a:hover {
  color: #dd1e25;
  margin-bottom: 0;
  border-bottom: 1px dashed #dd1e25;
  text-decoration: none;
  background-color: #e5e5e7;
}

.nav li a.active {
  color: #1c2f55
}

.navbar-nav>li>a {
  border-top: 4px solid transparent;
  border-bottom: none;
}

.navbar-nav>li>a:hover {
  border-top: 4px solid #dd1e25;
  border-bottom: none;
}

a {
  color: #dd1e25;
}

a:hover {
  color: #dd1e25;
}

p a[target="_blank"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-weight: 900;
  display: none;
}

.flexslider .slides>li:first-child {
  display: block;
  -webkit-backface-visibility: visible;
}

.flex-gradient {
  overflow: initial;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #004a8c;
  background-image: -moz-linear-gradient(-45deg, #002a5b 0%, #193f6b 41%, #002A5B 100%);
  background-image: -webkit-linear-gradient(-45deg, #002a5b 0%, #193f6b 41%, #002A5B 100%);
  background-image: linear-gradient(135deg, #002A5B 0%, #193f6b 41%, #002A5B 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002a5b', endColorstr='#004a8c', GradientType=1);
  background-attachment: fixed;
  padding-top: 6em;
  padding-bottom: 5em;
}

.flex-header {
  color: #ffffff;
  position: relative;
  bottom: unset;
  text-align: left;
}

.flex-caption {
  margin-top: 0.2em;
  position: relative;
  bottom: unset;
  width: auto;
}

.page-header{
  border-bottom: none;
  margin:0;
  padding:0
}

.breadcrumb-sitemap{
  display: inline;
}

.breadcrumb-wrap {
    padding: 0.3em 0.3em 0.3em 0;
}

.breadcrumb {
    display: inline;
    background: transparent;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}

.breadcrumb>li a{
    display: inline-block;
    color: #667f9c;
    padding-right: 9px;
    padding-left: 9px;
    border-bottom: none;
}

.breadcrumb>li a:hover{
    display: inline-block;
    color: #ffffff;
    border-bottom: none;
}

.breadcrumb>li a{
  transform: skew(25deg);
}

.breadcrumb>li{
    display: inline-block;
    color: #667f9c;
    background-color: #004a8c;
    transform: skew(-25deg);
    margin: 0.3em 0 0 0.4em;
    word-break: break-word;
    overflow-wrap: break-word;
}

.breadcrumb>li:last-child{
    display: inline-block;
    background-color: transparent;
    color: #000000;
    transform: skew(0);
    max-width: 87%;
}

.breadcrumb>li+li:before {
  padding: 0;
    color: #4c698c;
    content: " ";
    transform: skew(0);
  }

  .breadcrumb-sitemap li{
    margin-top: 0.3em;
  }

  .breadcrumb-sitemap li a{
    color: #667f9c;
    border-bottom: none;
    margin-left: 0.4em;
  }

  .breadcrumb-sitemap li a:hover{
    color: #ffffff;
    border-bottom: none;
  }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.prod-slider-row{
  display: flex;
  flex-wrap: wrap;
}

.prod-slider-row > [class*='col-']{
  display: flex;
  flex-direction: column;
}

.front__flex-margin {
  margin: -4.3em 0 0 0;
  position: relative;
}

.fit-menu {
  height: inherit;
}

.lang-switch .chosen-container-single .chosen-single {
  padding: 6px 12px;
  height: 34px;
  background: #888c8f;
  color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border: 1px solid #ccc;
  line-height: initial;
}

.lang-switch .chosen-container {
  width: -webkit-fill-available !important;
}

.shadow-back {
  margin: -4.1em 0 0 0;
  height: 3.25em;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.textlogo {
  background: #ffffff;
  position: fixed;
  width: 10.75em !important;
  height: auto;
  border-bottom: none;
  z-index: 1031;
  top: -0.1em;
}

.prod-selector {
  display: none;
}

.ind-selector {
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  margin-top: 1em;
}

.action-menu {
  color: #ffffff;
  height: fit-content;
  width: 99%;
  float: right;
}

.dropdown-up {
  height: 3.25em;
  transition: 0.38s all ease-in-out;
}

.dropdown-down {
  height: 100%;
  transition: 0.38s all ease-in-out;
}

.action-menu {
  position: absolute;
  z-index: 103;
  bottom: 0;
}

.flex-down {
  margin: -4.3em 0 0 0;
  position: relative;
}

.flexslider {
  margin: 0 0 0 0;
  border: none;
  z-index: 0;
}

.wavelogo {
  height: 10em;
  background: #ffffff;
  position: absolute;
  border-bottom-right-radius: 4%;
  z-index: 1032;
  width: 11.7em;
  opacity: 1;
  top: 0.24em;
}

.textonlylogo {
  background: #ffffff;
  z-index: 8;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  height: auto;
  top: -3em;
}

.uppercurve {
  height: 7.35em;
  left: 11em;
  z-index: 1030;
  position: relative;
  top: 2.95em;
}

.curve-down {
  width: 8em;
  height: 6.185em;
  right: 6.5em;
  position: relative;
  bottom: -0.2em;
  margin-top: -7.9em;
  }
}

.navigation {
  float: none;
  margin: 0 auto;
  width: 100%;
}

.navigation a {
  border-bottom: none;
}

.navigation a:hover {
  color: #dd1e25;
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation a.icon {
  display: none;
}

.navbar-header a {
  border-bottom: none;
}

/*navigation bar links when clicked on or hovered over*/
.navbar-nav {
  float: none;
  margin-bottom: 0;
  margin-top: 0;
  background: #ffffff;
  border-bottom: none;
}

.cust-portal {
  /*float:right;*/
  margin-right: 0.6em;
  /*padding-top:0.6em;*/
  height: 100%;
}

.forest-background{
  background-image: url(https://aesweb.s3-eu-west-1.amazonaws.com/hostinggrabs/Forest.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}


.forest-background.lazy{
  background-image: none;
  background-color: #ffffff;
}

.cust-portal a {
  border-bottom: none;
  color: #ffffff;
}

.cust-portal a:hover {
  border-bottom: 1px solid #ffffff;
}

.cust-portal-text {
  vertical-align: super;
}

.social-id {
  position: absolute;
  top: 4.8em;
  z-index: 2;
  width: 100%;
}

.fade_text {
  color: #535354;
  display: none;
}

.social-id p:nth-child(1){
  right: 28%;
  position: absolute;
}

.social-id p:nth-child(2){
  left: 18%;
  position: absolute;
}

.socialmedia {
  width: 100%;
  height: 7.57em;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.socialmedia ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  right: 1em;
}

.socialmedia li a {
  border-bottom: none;
}

.socialmedia ul li:nth-child(1) a {
  color: #1da1f2;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(1) a:hover {
  color: #1a90d9;
}

.socialmedia ul li:nth-child(2) a {
  color: #0077b5;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(2) a:hover {
  color: #006ba2;
}

.socialmedia ul li:nth-child(3) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(3) a:hover {
  color: #bd4030;
}

.socialmedia ul li:nth-child(4) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(4) a:hover {
  color: #bd4030;
}

.socialmedia ul li:nth-child(5) a {
  color: #002a5b;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(5) a:hover {
  color: #004a8c;
}

.socialmedia ul li:nth-child(6) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(6) a:hover {
  color: #bd4030;
}

.icons a {
  border-bottom: none;
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.blue-background {
  background: #002A5B;
  color: #FFFFFF;
  padding: 10px 5px 10px 5px;
}

.fit-space {
  width: 100%;
  height: 100%;
}

.grey-gradient {
  background: #cbd1d5;
  background: -moz-linear-gradient(-45deg, #cbd1d5 0%, #abb2b6 42%, #f5fbfe 100%);
  background: -webkit-linear-gradient(-45deg, #cbd1d5 0%, #abb2b6 42%, #f5fbfe 100%);
  background: linear-gradient(135deg, #cbd1d5 0%, #abb2b6 42%, #f5fbfe 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbd1d5', endColorstr='#f5fbfe', GradientType=1);
  width: 100%;
  max-height: 100%;
  padding: 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}

.padding-1em {
  padding: 1em;
}

.white-background{
	background-color: #ffffff;
}

.social-body {
  background: #ffffff;
  padding: 5px 15px 12px;
}

.flex {
  display: flex;
}

.panel-heading {
  height: 100%;
}

.widget-flex {
  display: flex !important;
  flex-direction: column;
  height: 97%
}

.widget-object {
  object-fit: contain;
  vertical-align: bottom;
  object-position: bottom;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.center-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.css-fade {
  position: relative;
  background-color: #b5b6b9;
  height: 100%;
}

.css-fade-linkedin {
  background-image: url('/images/linkedin-panel.png');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-instagram {
  background-image: url('/images/instagram-panel.png');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-youtube {
  background-image: url('/images/youtube-panel.png');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-twitter {
  background-image: url('/images/twitter-panel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-position: bottom;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.css-fade-twitter:hover,
.css-fade-instagram:hover,
.css-fade-youtube:hover,
.css-fade-linkedin:hover {
  opacity: 0;
}

.panel .panel-heading .social-body {
  margin-bottom: 0;
}

.btn-red {
  list-style-type: none;
  display: inline-block;
  background: #dd1e25;
  color: #ffffff !important;
  border: none !important;
  border-radius: 0;
}

/*Red button command for html*/
.btn-red:hover {
  background: #fa010a;
  margin-bottom: 0;
  color: #ffffff;
  outline-offset: 1px;
  outline-style: solid;
  outline-color: #ffffff;
  outline-width: 1px;
}

.btn-default {
  border: 1px solid #e5e5e7;
  background: #ffffff;
  background-color: #e5e5e5;
  color: #535354;
}

/*Default button colour*/
.btn-default:hover {
  border: 1px solid #e5e5e7;
  background: #d7d7d7;
  color: #535354;
}

.vex-ext:after{
  font-family: 'Font Awesome 5 Free';
  content: " \f35d";
  font-weight: 900;
}

.vex-closes:after{
  font-family: 'Font Awesome 5 Free';
  content:" \f00d";
  font-weight: 900;
}

.web-banner{
  width: 100%!important;
  border-radius: 0!important;
  background: #fcfcfc!important;
}

.vex-dialog-button{
  -webkit-animation:none!important;
  animation: none!important;
}

.content-blockthick {
  background: #8d8e8f;
  background: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 84%, #a6aaad 100%);
  background: -webkit-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 84%, #a6aaad 100%);
  background: linear-gradient(135deg, #8d8e8f 0%, #5c5f60 84%, #a6aaad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d8e8f', endColorstr='#a6aaad', GradientType=1);
  height: 800px;
  width: 100%;
  margin-top: 4em;
}

.content-block {
  background: #8d8e8f;
  background: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
  background: -webkit-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
  background: linear-gradient(135deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d8e8f', endColorstr='#a6aaad', GradientType=1);
  height: 500px;
  width: 100%;
  margin-top: 4em;
}

.content-blockthin {
  background: #8d8e8f;
  background: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 10%, #a6aaad 100%);
  background: -webkit-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 10%, #a6aaad 100%);
  background: linear-gradient(135deg, #8d8e8f 0%, #5c5f60 10%, #a6aaad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d8e8f', endColorstr='#a6aaad', GradientType=1);
  height: 180px;
  width: 100%;
  margin-top: 4em;
}

.table,
.tablefield {
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td,
.tablefield>thead>tr>th,
.tablefield>tbody>tr>th,
.tablefield>tfoot>tr>th,
.tablefield>thead>tr>td,
.tablefield>tbody>tr>td,
.tablefield>tfoot>tr>td {
  padding: 8px;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>td {
  border-top: 0 none;
}

table>tbody+tbody {
  border-top: 2px solid #dddddd;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
  border-bottom-width: 2px;
}

.tablefield>tbody>tr:nth-child(2n + 1)>td,
.tablefield>tbody>tr:nth-child(2n + 1)>th {
  background-color: #f9f9f9;
}

.tablefield>tbody>tr:hover>td,
.tablefield>tbody>tr:hover>th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

table>thead>tr>td.active,
table>tbody>tr>td.active,
table>tfoot>tr>td.active,
table>thead>tr>th.active,
table>tbody>tr>th.active,
table>tfoot>tr>th.active,
table>thead>tr.active>td,
table>tbody>tr.active>td,
table>tfoot>tr.active>td,
table>thead>tr.active>th,
table>tbody>tr.active>th,
table>tfoot>tr.active>th {
  background-color: #f5f5f5;
}

.field-name-field-sizes-table .size-slider,
.field-name-field-imperial-sizes-table .size-slider {
  padding-bottom: 10px;
}

.field-name-field-sizes-table .ui-slider,
.field-name-field-imperial-sizes-table .ui-slider {
  padding-bottom: 10px;
}


.after-content {
border-top: 1px solid #f5f5f5;
margin-top: 10px;
padding-top: 10px;
background-color: #ffffff;
z-index: 1;
position: relative;
}

h4{
  color: #002a5b;
}

.dotted-border {
outline: 1px dashed #888c8f;
padding: 1em 0.5em 1em 0.5em;
}

.field-industry p{
  color: #ffffff;
}

.ind-icon{
  position: absolute;
  bottom: -40%;
  z-index: 10;
  right: 30%;
}

.grey-banner{
  background-color: #888c8f;
  color: #ffffff;
  border-top-right-radius: 14%;
}

.grey-upper-wave{
  background-color: #888c8f;
  height: 100%;
  transform: skewX(40deg);
  position: relative;
  right: 77%;
  border-top-right-radius: 5%;
}

.grey-upper-curve{
  background-color: #ffffff;
  height: 100%;
  position: relative;
  right: -23%;
  top: -99%;
  transform: skewX(38deg);
}

.grey-lower-curve{
  background-color: #ffffff;
  height: 100%;
  transform: skewX(38deg);
  border-top-right-radius: 6%;
  top: -100%;
  position: relative;
  left: -98%;
  border-top-left-radius: 45%;
  z-index: 0;
}

.grey-lower-wave{
  background-color: #888c8f;
  height: 100.015%;
  transform: skewX(40deg);
  width: 200%;
  border-bottom-left-radius: 5%
}

.case-ref{
  color: #ffffff;
  margin-left:2em;
  padding: 0.5em;
}

.case-ref p{
  color: #ffffff;
  margin-bottom: 0;
}

.field-industry{
  text-align: center;
  transform: translateY(40%);
  height: 100%;
}

.grey-lower-banner{
  background-color: #888c8f;
  height: 100%;
}

.sustain-nav{
  border-bottom: none;
}

.sustain-nav li a:hover{
  border-bottom: 1px solid transparent;
  background-color: transparent;
  border-color: transparent;
}

.sustain-nav>li>a>img{
  max-width: 100%;
}

.sustain-nav li.active, .sustain-nav li.active:hover{
  opacity: 1;
  border: none;
}

.sustain-nav li .mono-filter{
  transition: 0.8s;
  filter: grayscale(1);
}

.sustain-nav li .mono-filter:hover, .sustain-nav li.active .mono-filter{
  filter: grayscale(0);
}

.sustain-nav>li.active>a, .sustain-nav>li.active>a:focus, .sustain-nav>li.active>a:hover{
  border: none;
}

.icon-right-padding{
  padding-right: 0.5em;
}

.instagram{
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.twitter{
  color: #1da1f2;
}

.article{
  color: #c45223;
}

.case-study{
  color: #5c9a31
}

.next-arrow{
  float: right;
  position: absolute;
  right: 2%;
}

.btn-red[aria-expanded="true"]{
  display: none;
}

.btn-red[aria-expanded="true"] ~ .first-icon{
  display: none;
}

.float-right{
  float: right;
}

.img-25{
max-width: 25%;
}

.img-50{
  max-width: 50%;
}

.img-75{
  max-width: 75%;
}

.global-warming-form{
  background-color: #888c8f;
  color: #ffffff;
  background-image: url('https://s3-eu-west-1.amazonaws.com/aesweb/hostinggrabs/AES-climate-world.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  padding: 48px 60px 48px 60px;
}

.global-warming-form .form-control{
  width: 65%;
  color: #535354;
}

#downloadPDF, #savePDF{
  display: none;
}

#createPDF{
  display: block;
}

.fa-edit, .fa-save, .fa-share-square{
  border-radius: 50%;
  border: 1px solid #002a5b;
  padding: 0.2em;
  background-color: #002a5b;
  color: white;
  font-size: 1.5em;
}

a.prod-image-slider, .product-slider {
  text-align: center;
  display: inline-block;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #535354;
  padding: 0;
}

a.prod-image-slider:hover, .product-slider:hover{
  background: -moz-linear-gradient(top, #fff 0, #fff 70%, #fff 100%);
  background: -webkit-linear-gradient(top, #fff 0, #fff 70%, #fff 100%);
  background: linear-gradient(to bottom, #fff 0, #fff 70%, #fff 100%);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  color: #dd1e25;
}

a.prod-image-slider + .prod-image-slider-text p{
  color: #535454;
  transition: color .5s;
}

a.prod-image-slider:hover + .prod-image-slider-text p{
  color: #dd1e25;
}

.prod-slide-padding{
  padding-top: 21%;
  padding-bottom: 21%;
}

.prod-image-slider-text{
  position: relative;
  text-align: center;
}

.country-icon {
  max-height: 2em;
  max-width: 2em;
}

.blue-tabs {
  border-bottom: 5px solid #5B82AD;
}

.blue-tabs li a {
  background: #002A5B;
  color: #ffffff;
  border: 2px solid #5B82AD;
  border-bottom: 2px solid #002A5B !important;
  padding: 10px 15px;
}

.blue-tabs .dropdown-menu li{
  width: 100%;
  background-color: #002A5B;
}

.blue-tabs li a:hover {
  background: #004a8c;
  color: #ffffff;
  border: 2px solid #5B82AD;
  border-bottom: 2px solid #004a8c !important;
  padding: 10px 15px;
}

.blue-tabs li.active a {
  background: #004a8c;
  color: #ffffff;
  border: 2px solid #5B82AD;
  border-bottom: 2px solid #004a8c !important;
  padding: 10px 15px;
}

@media screen and (max-width: 767px) {
  .flex-header{
    top: 0;
    text-align: left;
  }

  .breadcrumb>li:last-child{
      max-width: 87%;
  }

  .flex-caption{
    top: 0;
    font-size: 16px;
    line-height: 26px
  }

  h1 {
    font-size: 30px;
    line-height: 49px;
  }

  h2 {
    font-size: 25px;
    line-height: 40px;
  }

  h3 {
    font-size: 19px;
    line-height: 30px;
  }

  h4 {
    font-size: 16px;
    line-height: 26px;
  }

  h5 {
    font-size: 16px;
    line-height: 26px;
  }

  h6 {
    font-size: 16px;
    line-height: 26px;
  }

  .lead {
    font-size: 16px;
    line-height: 26px;
  }

  body {
    font-size: 15px;
    line-height: 24px;
  }

  .curve-down {
    display: none;
  }

  .wavelogo{
    display: none;
  }

  .socialmedia {
    text-align: center;
    background-color: transparent;
    position: absolute;
    margin-bottom: -0.5em;
    right: 0;
    width: 100%;
  }

  .socialmedia {
  background-color: transparent;
  position: initial;
  right: 0;
  width: 100%;
  bottom: inherit;
}

  .socialmedia ul li{
  width: 18%;
  text-align: center;
  transform: translate(25%);
}
.socialmedia ul li:nth-child(1) a {
  font-size: 3em;
}

.socialmedia ul li:nth-child(2) a {
  font-size: 3em;
}

.socialmedia ul li:nth-child(3) a {
  font-size: 3em;
}

.socialmedia ul li:nth-child(4) a {
  font-size: 3em;
}

.socialmedia ul li:nth-child(5) a {
  font-size: 3em;
}

.socialmedia ul li:nth-child(6) a {
  font-size: 3em;
}

.social-id p:nth-child(1){
  right: 18%;
  position: absolute;
}

.social-id p:nth-child(2){
  left: 26%;
  position: absolute;
}

.social-id p:nth-child(3){
  right: 38%;
  position: absolute;
}

  .front__flex-margin{
    margin: 2em 0 0 0;
    position: relative;
  }

  .icons a:nth-child(1) i {
    padding-right: 0.8em;
    z-index: 4;
  }

  .icons a:nth-child(2) i {
    padding-right: 0.8em;
    z-index: 4;
  }

  .icons a:nth-child(3) i {
    padding-right: 0.8em;
    z-index: 4;
  }

  .icons a:nth-child(4) i {
    padding-right: 0.8em;
    z-index: 4;
  }

  .icons a:nth-child(5) i {
    z-index: 4;
  }

  .navigation a {
    display: none;
  }

  .navigation a.icon {
    float: right;
    display: block;
    padding-top: 0.35em;
    margin-right: 0.5em;
  }

  .navigation.responsive {
    position: relative;
  }

  .navigation.responsive a.icon {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .dropdown ul{
    overflow: initial;
  }

  .gap {
    height: 5.95em;
  }

  .bottom-gap {
    height: 8em;
  }

  .sustain-nav {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  }
  .sustain-nav>li {
  float: none;
  }
  #arrowNav{
    display: flex;
  }
  .global-warming-form{
    background-image: none;
  }
  .global-warming-form .form-control{
    width: 100%;
  }
  .grey-upper-curve{
    border-bottom-left-radius: 12%;
  }
  .prod-slider-row > [class*='col-']{
    padding:1em 0.5em;
  }
  .prod-slide-padding{
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width:501px) and (max-width: 767px) {

  .front__flex-margin {
    margin-bottom: 5%;
  }
}


/* sm */
@media screen and (min-width: 768px) {

  .flex-header{
    top: 4em;
    text-align: left;
  }

  .breadcrumb>li:last-child{
      max-width: 87%;
  }

  .flex-header h1 {
    font-size: 2.5em;
    line-height: 52px;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 26px;
    top: 3.7em;
  }

  .wavelogo{
    display: none;
  }

  h1 {
    font-size: 32px;
    line-height: 52px;
  }

  h2 {
    font-size: 27px;
    line-height: 44px;
  }

  h3 {
    font-size: 21px;
    line-height: 34px;
  }

  h4 {
    font-size: 18px;
    line-height: 30px;
  }

  h5 {
    font-size: 18px;
    line-height: 30px;
  }

  h6 {
    font-size: 18px;
    line-height: 30px;
  }

  .lead {
    font-size: 18px;
    line-height: 30px;
  }

  body {
    font-size: 16px;
    line-height: 26px;
  }

  .socialmedia {
    text-align: center;
  }

  .front__flex-margin{
    margin: -4.3em 0 0 0;
    position: relative;
  }

  .socialmedia ul{
    top: 15%;
    height: 100%;
    right: 0;
  }

  .social-id p:nth-child(1){
    right: 20%;
    position: absolute;
  }

  .social-id p:nth-child(2){
    left: 18%;
    position: absolute;
  }
  .social-id p:nth-child(3){
    right: 32%;
    position: absolute;
  }


  .icons a:nth-child(1) i {
    margin-left: 0.35em;
    margin-top: 0.25em;
    padding-right: 0.8em;
    z-index: 4;
  }

  .icons a:nth-child(2) i {
    padding-right: 0.8em;
    margin-top: 0.25em;
    z-index: 4;
  }

  .icons a:nth-child(3) i {
    padding-right: 0.8em;
    margin-top: 0.25em;
    z-index: 4;
  }

  .icons a:nth-child(4) i {
    padding-right: 0.8em;
    margin-top: 0.35em;
    z-index: 4;
  }

  .icons a:nth-child(5) i {
    z-index: 4;
    margin-top: 0.35em;
  }

  .gap {
    height: 6em;
  }

  .bottom-gap {
    display: none;
  }
  .sustain-nav {
    overflow-x: initial;
    overflow-y: initial;
    display: initial;
    display: initial;
  }
  .sustain-nav>li {
    float: left;
  }
  #arrowNav{
    display: none;
  }
  .grey-upper-curve{
    border-bottom-left-radius: 8%;
  }
  .forest-background{
    background-image: url(https://aesweb.s3-eu-west-1.amazonaws.com/hostinggrabs/Forest-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .prod-slider-row > [class*='col-']{
    padding-bottom: 1em;
  }
  .prod-slide-padding{
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .flex-gradient{
    padding-top: 7em;
  }

  .breadcrumb>li:last-child{
      max-width: 87%;
  }

  .navbar-default {
    background: none;
    border: none;
  }

  .wavelogo{
    display: block;
  }

  .flex-header{
    top: 1em;
    text-align: left;
  }

  .flex-header h1 {
    font-size: 3em;
    line-height: 58px;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 30px;
    top: 1em;
  }

  h1 {
    font-size: 34px;
    line-height: 55px;
  }

  h2 {
    font-size: 29px;
    line-height: 47px;
  }

  h3 {
    font-size: 22px;
    line-height: 37px;
  }

  h4 {
    font-size: 20px;
    line-height: 32px;
  }

  h5 {
    font-size: 20px;
    line-height: 32px;
  }

  h6 {
    font-size: 20px;
    line-height: 32px;
  }

  .lead {
    font-size: 20px;
    line-height: 32px;
  }

  body {
    font-size: 17px;
    line-height: 28px;
  }

  .socialmedia ul {
    transform: translateY(-40%);
    top: 50%;
    height: 75%;
    right: 1em;
  }

  .social-id p:nth-child(1){
    right: 28%;
    position: absolute;
  }

  .social-id p:nth-child(2){
    left: 18%;
    position: absolute;
  }
  .social-id p:nth-child(3){
    right: initial;
    position: relative;
  }

    .prod-slider-row > [class*='col-']{
      padding-bottom: 1em;
    }

  .textonlylogo {
    display: none;
  }

  .gap {
    height: 8em;
  }

  .navbar-nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    padding-left: 16em;
  }
  .grey-upper-curve{
    border-bottom-left-radius: 8%;
  }
  .forest-background{
    background-image: url(https://aesweb.s3-eu-west-1.amazonaws.com/hostinggrabs/Forest.jpg);
  }
  .prod-slide-padding{
    padding-top: 21%;
    padding-bottom: 21%;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .flex-gradient{
    padding-top: 6em;
  }

  .flex-header h1 {
    font-size: 3.5em;
    line-height: 63px;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 36px;
    top:1em;
  }

  .breadcrumb>li:last-child{
      max-width: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: 58px;
  }

  h2 {
    font-size: 31px;
    line-height: 50px;
  }

  h3 {
    font-size: 24px;
    line-height: 40px;
  }

  h4 {
    font-size: 22px;
    line-height: 36px;
  }

  h5 {
    font-size: 22px;
    line-height: 36px;
  }

  h6 {
    font-size: 22px;
    line-height: 36px;
  }

  .lead {
    font-size: 22px;
    line-height: 36px;
  }

  body {
    font-size: 18px;
    line-height: 29px;
  }

  .gap {
    height: 10em;
  }

  .uppercurve {
    top: 3.1em;
  }
  .grey-upper-curve{
    border-bottom-left-radius: 10%;
  }
  .prod-slider-row > [class*='col-']{
    padding: 0 0.4em;
  }
  .col-lg-x8 {
  width: 12.5%;
}
}

@media (max-width: 992px) {

  .uppercurve {
    display: none;
  }

  .text {
    display: none;
  }
}

.footer {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  text-align: center;
}

/*footer code for its sizing*/
